<img
  *ngIf="data.thumbnail; else placeholder"
  class="image"
  data-test-id="serp-news-card__thumb"
  [src]="data.thumbnail"
  [alt]="data.title"
/>
<a class="title" [href]="data.link" data-test-id="serp-news-card__title">{{
  data.title
}}</a>
<div class="content">
  <div class="snippet" data-test-id="serp-news-card__snippet">
    {{ data.snippet }}
  </div>
  <div class="info">
    <div class="date" data-test-id="serp-news-card__date">{{ data.date }}</div>
    <div class="source" data-test-id="serp-news-card__source">
      {{ data.source }}
    </div>
  </div>
</div>

<ng-template #placeholder>
  <div></div>
</ng-template>