.query {
  padding: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  padding: 16px 32px;
}
.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-content: center;
}
.error {
  color: var(--color-error);
}
